@{
    string bodyClass = ViewBag.BodyClass ?? "layout--default";
    string title = ViewBag.Title ?? ViewData["Title"] ?? string.Empty;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>IdentityService: @title</title>

    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" />
    @RenderSection("StyleSheets", required: false)
</head>
<body id="page-top" class="@bodyClass">
    @RenderBody()

    <a class="scroll-to-top rounded" href="#page-top">
        <i class="bi bi-chevron-up"></i>
    </a>

    <div id="scripts">
        <script src="~/lib/jquery/jquery.slim.min.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="~/lib/jquery-easing/jquery.easing.min.js"></script>
        <script src="~/js/site.js"></script>
        @RenderSection("Scripts", required: false)
    </div>
</body>
</html>
