@{
    string title = ViewBag.Title ?? ViewData["Title"] ?? string.Empty;
    string bodyClass = ViewBag.BodyClass ?? "layout--base";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IdentityService: @title</title>
    <link rel="stylesheet" href="~/css/styles.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" />
    @RenderSection("StyleSheets", required: false)
</head>
<body class="@bodyClass">
    @RenderBody()

    <div id="scripts">
        <script src="~/lib/jquery/jquery.slim.min.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
        @RenderSection("Scripts", required: false)
    </div>
</body>
</html>
